<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smoothies</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav class="navigation">
      <a href="/" class="logo">Smoothies</a>
      <div class="login_links">
        <% if(user) {%>
          <a class="nav_link login_link inactive_link" href="">Welcome, <%= user %></a>
          <a class="nav_link login_link" href="/users/logout">Logout</a>
        <% } else {%>        
          <a class="nav_link login_link" href="/users/login">Login</a>
          <a class="nav_link signup_link" href="/users/signup">Signup</a>
        <%}   %>
      </div>
    </nav>
  <%- include("footer.ejs") %>
