<%- include("partials/nav.ejs") %>

<main class="signup_main">
  <form action="" class="form_div">
    <h1 class="login_h1">Login</h1>
    <label for="email">Email:</label>
    <input type="text" required name="email" />
    <div class="email error"></div>
    <label for="password">Password:</label>
    <input type="password" required name="password" />
    <div class="password error"></div>
    <button class="login_btn">login</button>
  </form>
</main>

<%- include("partials/footer.ejs") %>
