<%- include("partials/nav.ejs") %>

<main class="signup_main">
  <form action="" class="form_div">
    <h1 class="login_h1">Sign Up</h1>
    <label for="email">Email:</label>
    <input type="text" required name="email" />
    <div class="email error"></div>
    <label for="password">Password:</label>
    <input type="password" required name="password" />
    <div class="password error"></div>
    <button class="login_btn">Sign UP</button>
  </form>
</main>

<script>
  const form = document.querySelector("form");
  const emailError = document.querySelector(".email.error");
  const passwordError = document.querySelector(".password.error");
  form.addEventListener("submit", async (e) => {
    e.preventDefault(); //to prevent the refresh of the page after submitting the form

    //get the values
    const email = form.email.value;
    const password = form.password.value;

    emailError.textContent = "";
    passwordError.textContent = "";

    try {
      const res = await fetch("/users/signup", {
        method: "POST",
        body: JSON.stringify({ email: email, password: password }),
        headers: { "Content-Type": "application/json" },
      })
        .then((res) => res.json())
        .then((data) => {
          // console.log(data);
          if (data.user) {
            location.assign("/");
          }
          if (data.errors) {
            emailError.textContent = data.errors.email;
            passwordError.textContent = data.errors.password;
          }
        });
    } catch (error) {
      console.log(error);
    }

    // console.log(res);
  });
</script>

<%- include("partials/footer.ejs") %>
